.vscode/
.mypy_cache/
.venv/
__pycache__/
*.egg-info/

data/mcf/unipi/grid1
data/mcf/unipi/grid10
data/mcf/unipi/grid11
data/mcf/unipi/grid12
data/mcf/unipi/grid13
data/mcf/unipi/grid14
data/mcf/unipi/grid15
data/mcf/unipi/grid2
data/mcf/unipi/grid3
data/mcf/unipi/grid4
data/mcf/unipi/grid5
data/mcf/unipi/grid6
data/mcf/unipi/grid7
data/mcf/unipi/grid8
data/mcf/unipi/grid9
data/mcf/unipi/planar100
data/mcf/unipi/planar1000
data/mcf/unipi/planar150
data/mcf/unipi/planar2500
data/mcf/unipi/planar30
data/mcf/unipi/planar300
data/mcf/unipi/planar50
data/mcf/unipi/planar500
data/mcf/unipi/planar80
data/mcf/unipi/planar800
data/mcf/unipi/format.doc

data/vrptw/pucrio/Vrp-Set-HG/Vrp-Set-HG/*.txt
data/vrptw/pucrio/Vrp-Set-HG/Vrp-Set-HG/*.sol
data/vrptw/pucrio/Vrp-Set-Solomon/*.txt
data/vrptw/pucrio/Vrp-Set-Solomon/*.sol
data/smptsp/orlib/*.dat
